/.vs
.vscode
/.gitignore
/_minted-test
/_minted-constitution
*.aux
*.log
*.aux
*.fdb_latexmk
*.fls
*.gz
*.xdv
*.out
*.pygstyle
*.pygtex
*.toc
*.pdf
/check/target
/check/Cargo.lock
__pycache__
build
!build/.gitkeep
# Clion
.idea
cmake-build-*
.cache
node_modules
/public
/resources
go.sum
